@tailwind base;
@tailwind components;
@tailwind utilities;
 
  
.loading-indicator{
    display:none;
}
.htmx-request .loading-indicator{
    display:inline;
}
.htmx-request.loading-indicator{
    display:inline;
}


.actions {
    @apply  flex justify-start gap-2 p-1 bg-gray-100 rounded-md md:my-2 my-2 sticky top-0 w-full;
}

.actions a  {
    @apply p-2 bg-gray-100 hover:bg-gray-200 rounded-md border border-gray-300;
}


.form-wrapper {
    @apply border border-gray-300 rounded-md p-4  bg-gray-50 shadow-md;
}


[x-cloak] {
    display: none;
}


.choices__inner {
    @apply border border-gray-300 rounded-md bg-white;
}

.errorlist {
    @apply text-red-600 my-1 text-sm;
}

.errorlist li {
    @apply list-none;
}



.form-control {
    @apply my-2;
}

.form-control label {
    @apply my-1;
}

[aria-invalid="true"] {
    @apply border-red-600;
}


.errorlist.nonfield {
    @apply text-red-600 border border-red-300 bg-red-50 p-2 rounded-lg my-2;
}

.choices { 
    @apply mb-1;
}


/* standard form base for allauth */
.form-base input[type="text"], input[type="email"],input[type="password"] {
    @apply input input-bordered;

}
.form-base input[type="checkbox"] {
    @apply checkbox;

}
.form-base select {
    @apply select select-bordered;

}
.form-base textarea {
    @apply textarea textarea-bordered;

}
.form-base button {
    @apply btn btn-primary;
}

 
/* end standard form base for allauth */


 

/* content off screen to the right */
.modal-slide-content {
    @apply  animate-in slide-in-from-right bg-white w-full lg:w-1/2 h-full fixed top-0 right-0 z-50 overflow-auto;
    
}
 

body:has(.modal-overlay-show) {
   overflow:hidden;
}

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 z-40 hidden;
}

.modal-overlay-show {
    @apply block;
}